body{
    background: url(/static/images/fohBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-family: 'Italianno', cursive;
    font-weight: bold;
}

button{
    background-color: beige;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: "Italiana", serif;
    font-weight: bold;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    transform: scale(1.75,1.75);
}

.orderScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin:auto;
    width: 700px;
    background-color: #ffde59ca;
    border-radius: 8px; 
}

.orderListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-right: 3px;
}

.orderSelect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-left: 3px;
}

.productSelection {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
} 

.productSelection > form > button{
    background-color: beige;
    font-size: 15px;
    text-align-last: center;
    border: none;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 8px;
}

.orderedProduct {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f7c80c92;
    border-radius: 8px;
}

.orderL{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.orderL > p{
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.orderR{
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.orderR > form > button{
    background-color: #d4ae16;
    font-size: 35px;
    text-align-last: center;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 8px;
}

.orderR > p{
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.productFilters{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.productFilters > button{
    border: none;
    background-color: beige;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 2px;
    margin-left: 2px;
}


.priceTotal{
    margin-top: 5px;
    margin-bottom: 5px;
}

.tableNr{
    margin: 0px;
}