.orderScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin:auto;
    width: 700px;
    background-color: #ffde59;
    border-radius: 8px; 
    /* align-items: center; */
}

button{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    font-size: 25px;
}

.orderListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-right: 3px;
}

.orderSelect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-left: 3px;
}

.productSelection {
    display: flex;
    justify-content: center;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
}


.productSelection > form > button{
    background-color: #d4ae16;
    border: none;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 8px;
}

.orderedProduct {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #F7C80C;
    border-radius: 8px;
}

.orderedProduct > form > button{
    background-color: #d4ae16;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 8px;
}

.orderedProduct > p{
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.productFilters{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


.priceTotal{
    margin-top: 5px;
    margin-bottom: 5px;
}

.tableNr{
    margin: 0px;
}