body{
    background: url(/static/images/fohBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    border: none;
    background-color: beige;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Italiana", serif;
    font-weight: bold;
}

.smallText{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
}

.recenter{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.wrapper{
    margin-top: 2%;
}

.backGroundDiv{
    background-color: #ffde59ca;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}

.inputField{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.imageInputField{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.previewContainerPlacement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.headText{
    font-size: 50px;
    font-family: "Italiana", serif;
}

.specialField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#ingredientsInput{
    max-width: 100ch;
}

#allergensInput{
    max-width: 100ch;
}

#tagsInput{
    max-width: 100ch;
}

.dragText {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
    
#drop-area {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    text-align: center;
    line-height: 200px;
    border: 2px dashed #1a1a1abe;
    cursor: pointer;
  }
  
#preview-container {
    text-align: center;
}

#drop-area.drag-over {
    background-color: #13131380;
}

.preview-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
}

.createProductButton{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


input[type="file"] {
    display: none;
}

.uploadButtonLabel{
    border: none;
    border-radius: 5px;
    background-color: beige;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Italiana", serif;
    font-weight: bold;
    font-size: 15px;
}

.styleTextInput{
    field-sizing: content;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: beige;
    border-radius: 5px;
    border: none;
    font-family: "Italiana", serif;
    font-weight: bold;
    con
}

.selectBoxStyle{
    position: relative;
    font-family: "Italiana", serif;
    font-weight: bold;
    font-size: 15px;
    text-align: flex-start;
    border: none;
    border-radius: 5px;
    background-color: beige;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 1%;
}


.selectBoxStyle option{
    position: relative;
    font-family: "Italiana", serif;
    font-weight: bold;
    font-size: 15px;
    border: 3px #303030;
    border-radius: 5px;
    background-color: beige;
}

.column {
  float: left;
  padding: 10px;
  height: 100%;
}

.left, .right {
  width: 48%;
}

.middle {
  width: 40%;
}

.row:after {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.submitButton {
    cursor: pointer;
    font-family: "Italiana", serif;
    width: 90%;
    margin-top: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}