<!DOCTYPE html>
<html>
<head>
    <title>Order Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fohOrder.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gSTYLE.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topBar">
        <img class="logoImage"/>
    </div>
    <div class="orderScreen">
        <div class="orderListing">
            <p class="tableNr">Table {{ tableNumber }}'s order</p>
            {% for orderLine in orderList %}
                <div class="orderedProduct">
                    <p>{{ orderLine.product.name }}</p>
                    <form action="{{ url_for('fohOrder') }}" method="POST">
                        <input type="hidden" name="addedPizza" value="{{ orderLine.product.name }}">
                        <input type="hidden" name="addedQuantity" value="-1">
                        <button type="submit">-</button>
                    </form>
                    <p>{{ orderLine.quantity }}</p>
                    <form action="{{ url_for('fohOrder') }}" method="POST">
                        <input type="hidden" name="addedPizza" value="{{ orderLine.product.name }}">
                        <input type="hidden" name="addedQuantity" value="1">
                        <button type="submit">+</button>
                    </form>
                </div>
            {% endfor %}
            
            <p class="priceTotal">Total: &#8364;{{priceTotal}}</p>

            <form action="{{ url_for('fohOrder') }}" method="POST">
                <input type="hidden" name="confirmOrder" value="True">
                <div class="orderListing">
                    <button type="submit"> ✔</button>   
                </div>
                
            </form>
        </div>
        <div class="orderSelect">
            <div class="productFilters">
                <button class="pizzaFilter">Pizza Filter</button>
                <button class="drinksFilter">Drinks Filter</button>
                <button class="vegFilter">Vegetarian Filter</button>
                <button class="removeFilter">✘</button>
            </div>
            <div class="productSelection">
                {% for product in filteredProducts %}
                    <form action="{{ url_for('fohOrder') }}" method="POST">
                        <input type="hidden" name="addedPizza" value="{{ product.name }}">
                        <input type="hidden" name="addedQuantity" value="1">
                        <button type="submit" class="productButton">{{ product.name }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>