<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario & Luigi's Pizzeria</title>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="gSTYLE.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container" id="color-container">
        <div class="bar green"></div>
        <div class="bar white"></div>
        <div class="bar red"></div>
        <div class="center-text" id="center-text">
            <p>Welcome to <br> Mario & Luigi's pizzeria</p>
        </div>
    </div>

    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
    <div class="boxes" id="boxes">
        <div class="pizza-card">
            <img src="peperoni.jpeg" alt="Pizza Image" class="pizza-image">
            <div class="pizza-info">
                <p>info bla bla bla bla</p>
                <div class="details">
                    <span>Allergens</span>
                    <span>price</span>
                </div>
                <div class="buttons">
                    <button class="order-btn">ORDER</button>
                    <button class="modify-btn">MODIFY</button>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="js.js"></script>

</body>
</html>
