<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario & Luigi's Pizzeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gSTYLE.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>


        <div class="container" id="color-container">
            <div class="bar green"></div>
            <div class="bar white"></div>
            <div class="bar red"></div>
        <div class="center-text" id="center-text">
            <p>Welcome to <br> Mario & Luigi's Pizzeria</p>
        </div>
    </div>

    <!-- Boxes container for pizza cards -->
    <div class="boxes" id="boxes">
        {% for pizza in pizzas %}
        <div class="pizza-card">
            <img src="{{ url_for('static', filename=pizza.images) }}" alt="{{ pizza.name }} Image" class="pizza-image">
            <div class="pizza-info">
                <p>Ingredients: {{ pizza.ingredients | join(', ') }}</p> 
                <div class="details">
                    <span>Allergens</span>
                    <div class="allergen-icons">
                        {% for allergen in pizza.allergens %}
                            <img src="{{ url_for('static', filename='images/' + allergen + '.png') }}" alt="{{ allergen }}" class="allergen-icon">
                        {% endfor %}
                    </div>
                    <span>Price: {{ pizza.price }} euro</span>
                </div>
                <div class="buttons">
                    <!-- Order button form -->
                    <form action="{{ url_for('order') }}" method="POST">
                        <input type="hidden" name="pizza_name" value="{{ pizza.name }}">
                        <button type="submit" class="order-btn">ORDER</button>
                    </form>
                    <!-- Modify button form -->
                    <form action="{{ url_for('modify') }}" method="POST">
                        <input type="hidden" name="pizza_name" value="{{ pizza.name }}">
                        <button type="submit" class="modify-btn">MODIFY</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <!-- Flash messages display -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

</body>
</html>
