<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bohOrderDisplay.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="topNav">
            <div class="logo">
                <a href="{{ url_for('index') }}">Mario & Luigi's Pizzeria</a>
            </div>
        </div>

    </header>
    <main>

    </main>

</body>
</html>