<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoH Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fohBohStyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>
<body>
    <table style="width: 100%;">
        <tr style="height: 33vh;">
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="1">
                    <button type="submit">1</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="2">
                    <button type="submit">2</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="3">
                    <button type="submit">3</button>
            </td>
        </tr>
        <tr style="height: 33vh;">
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="4">
                    <button type="submit">4</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="5">
                    <button type="submit">5</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="6">
                    <button type="submit">6</button>
            </td>
        </tr>
        <tr style="height: 33vh;">
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="7">
                    <button type="submit">7</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="8">
                    <button type="submit">8</button>
            </td>
            <td>
                <form action="{{ url_for('fohOrder') }}" method="POST">
                    <input type="hidden" name="tableNumber" value="9">
                    <button type="submit">9</button>
            </td>
        </tr>
    </table>
</body>
</html>