<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoH Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fohBohStyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>
<body>
    <table style="width: 100%;">
        <tr style="height: 33vh;">
            <td>
                <form action="{{ url_for('fohOrder') }}">
                    <input type="hidden" name="tableNumber" value="1">
                    <button type="submit">1</button>
            </td>
            <td>
                <a class="italiana-regular">2</a>
            </td>
            <td>
                <a class="italiana-regular">3</a>
            </td>
        </tr>
        <tr style="height: 33vh;">
            <td>
                <a class="italiana-regular">4</a>
            </td>
            <td>
                <a class="italiana-regular">5</a>
            </td>
            <td>
                <a class="italiana-regular">6</a>
            </td>
        </tr>
        <tr style="height: 33vh;">
            <td>
                <a class="italiana-regular">7</a>
            </td>
            <td>
                <a class="italiana-regular">8</a>
            </td>
            <td>
                <a class="italiana-regular">9</a>
            </td>
        </tr>
    </table>
</body>
</html>