<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>Product Management</title>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gSTYLE.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/productManagement.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/marioLuigiPizzeriaTempLogoV2.png') }}">

        <script>
            const placeholderImage = "{{ url_for('static', filename='images/marioLuigiPizzeriaTempLogoV2.jpg') }}";
            console.log("Image URL:", placeholderImage);
        </script>

    </head>
    <body>
    <header>
        <div class="topNav">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/marioLuigiPizzeriaTempLogoV2.png') }}" alt="Mario & Luigi's Pizzeria Logo" style="height: 50px; vertical-align: middle;">
            </a>
            <a class="title" href="{{ url_for('index') }}">Mario & Luigi's Pizzeria</a>
        <a class="navLink {% if currentPath == url_for('orderDisplay') %}selected{% endif %}" href="{{ url_for('orderDisplay') }}">Order Display</a>
        <a class="navLink {% if currentPath == url_for('fohOverview') %}selected{% endif %}" href="{{ url_for('fohOverview') }}">Table Overview</a>
        <a class="navLink {% if currentPath == url_for('manageProduct') %}selected{% endif %}" href="{{ url_for('manageProduct') }}">Manage Products</a>
        </div>
    </header>
        <div class="wrapper">
            <div class="backGroundDiv">
                <div class="row">
                    <div class="column left"><p></p></div>
                    <div class="column middle">
                        <h1 class="headText">Product Management</h1>
                        <form action="{{ url_for('manageProduct') }}" enctype="multipart/form-data" method="POST">
                            <div class="inputField">
                                <p class="smallText">Product to edit: </p>
                                <select class="selectBoxStyle" name="selectedProduct"> Product
                                    <option value="NewProduct">New Product</option>
                                    {% for product in productList %}
                                        <option value="{{product.name}}">{{product.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="recenter">
                                <button type="submit"> Select Product </button>
                            </div>
                        </form>
                        <form action="{{ url_for('manageProduct') }}" method="POST" enctype="multipart/form-data">
                            <div class="inputField" id="name">
                                <p class="smallText">Product Name: </p>
                                <input class="styleTextInput" type="text" name="productName" value="{{productEdit.name}}" placeholder="i.e. Product Name">
                            </div>
                            <div class="inputField" id="price">
                                <p class="smallText">Product Price: </p>
                                <input class="styleTextInput" type="text" name="productPrice" value="{{productEdit.price}}" placeholder="i.e. 10.00">
                            </div>
                            <div class="specialField" id="ingredients">
                                <p class="smallText">Product Ingredients: </p>
                                <input class="styleTextInput" type="text" id="ingredientsInput" name="productIngredients" value="{{productEdit.ingredients}}" placeholder="i.e. Tomatoes, Herbs, Garlic, Mozzarella">

                            </div>
                            <div class="specialField" id="allergens">
                                <p class="smallText">Product Allergens: </p>
                                <input class="styleTextInput" type="text" id="allergensInput" name="productAllergens" value="{{productEdit.allergens}}" placeholder="i.e. Gluten, Milk">
                            </div>
                            <div class="specialField" id="image">
                                <p class="smallText">Product Image: </p>
                                <div class="imageInputField">
                                    <div class="previewContainerPlacement">
                                        <div id="drop-area">
                                            <p class="dragText">Drag here to upload</p>
                                        </div>
                                        <div id="preview-container"></div>
                                    </div>
                                    <label for="file-input" class="uploadButtonLabel">Upload Image</label>
                                    <input type="file" id="file-input" name="productImage">
                                    <script src="{{ url_for('static', filename='js/dragAndDropUploader.js') }}"></script>
                                </div>
                            </div>
                            <div class="specialField" id="tags">
                                <p class="smallText">Product Tags: </p>
                                <input class="styleTextInput" type="text" id="tagsInput" name="productTags" value="{{sourceTags}}" placeholder="i.e. tag-pizza, tag-vegetarian">
                            </div>
                            <div class="specialField">
                                <p class="smallText">List of Existing Tags: </p>
                                <select class="selectBoxStyle" name="selectedProduct"> Tag
                                    <option>Tags</option>
                                    {% for tag in tagList %}
                                        <option value="{{tag}}">{{tag}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="createProductButton">
                                <button type="submit"> Create Product </button>
                            </div>
                        </form>
                    </div>
                    <div class="column right"><p></p></div>
                </div>
            </div>
        </div>
    </body>
</html>